
// sass-lint:disable no-qualifying-elements

.navbar {
  .mobile-cta-container {
    
    @media all and (max-width: 992px) {
      display: block;
      position: absolute;
      left: 64px;
      top: 13px;
    }
  }

  .btn-nav-cta {
    background-color: #ffffff;
    border: 1px solid #14125B;
    color: #14125B;
  }

  .btn-nav-cta:active,
  .btn-nav-cta:focus,
  .btn-nav-cta:hover {
    background: #14125B;
    color: #ffffff;
  }

  .navbar-right ul li a {
    color: #14125b;
  }

}
